*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.circle {
    font-size: 30px;
    background-color: peachpuff;
    font-family:sans-serif;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition:cubic-bezier(0.165, 0.84, 0.44, 1) 2s;
    cursor: pointer;
}

.hover {
    transform: scale(2);
}